doctype html
html.m-0.p-0.font-sans(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Parcel Static
    meta(name='description', content='')
    link(rel='icon', href='assets/favicon.ico')
    link(rel='stylesheet', href='styles/{{style-file}}')
    script(src='scripts/{{script-file}}', type='module')
  body.m-0.p-0.grid.grid-rows-1.min-h-screen.text-center
    .flex.flex-col.justify-center.items-center.gap-y-9
      h1#head.text-3xl.font-bold.text-regal-blue.leading-snug.bg-clip-text
        | Welcome to
        | 
        span.whitespace-nowrap Parcel Static!
      </h1>
      button#btn.appearance-none.border-0.rounded-full.py-2.px-4.text-dark-gray.text-sm.font-bold.bg-light-gray.cursor-pointer.select-none.hover_bg-soft-silver.active_bg-light-blue.dark_bg-charcoal.dark_text-creamy-white.dark_hover_bg-slate.dark_hover_active_bg-silver
        | COLORRIZE!
    .py-6.text-sm
      p.py-4 This is the start page of your project. Here you can start creating something amazing!
      a.underline(href='https://github.com/mrtoxas/create-parcel-static') Parcel Static
      = ' | '
      a.underline(href='https://parceljs.org/') Parcel build tool
