<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Parcel Static</title>
    <meta name="description" content="" />
    <link rel="icon" href="assets/favicon.ico" />
    <link rel="stylesheet" href="styles/{{style-file}}" />
    <script src="scripts/{{script-file}}" type="module"></script>
  </head>
  <body>
    <div class="main">
      <h1 id="head">Welcome to Parcel Static!</h1>
      <button id="btn">COLORRIZE!</button>
    </div>
    <div class="footer">
      <p>
        This is the start page of your project. Here you can start creating
        something amazing!
      </p>
      <a href="https://github.com/mrtoxas/create-parcel-static"
        >Parcel Static</a
      >
      |
      <a href="https://parceljs.org/">Parcel build tool</a>
    </div>
  </body>
</html>
