doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Parcel Static
    meta(name='description', content='')
    link(rel='icon', href='assets/favicon.ico')
    link(rel='stylesheet', href='styles/{{style-file}}')
    script(src='scripts/{{script-file}}', type='module')
  body
    .main
      h1#head Welcome to Parcel Static!
      button#btn COLORRIZE!
    .footer
      p This is the start page of your project. Here you can start creating something amazing!
      a(href='https://github.com/mrtoxas/create-parcel-static') Parcel Static
      = ' | '
      a(href='https://parceljs.org/') Parcel build tool
